.popup__closebutton {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url(../../../images/closeicon.svg);
  width: 32px;
  height: 32px;
  /* cursor: pointer; */
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 880px) {
  .popup__closebutton {
    background-image: url(../../../images/closeiconmobile.svg);
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
  }
}