.profile__title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 22px 0 0 0;
}

@media screen and (max-width: 880px) {
  .profile__title {
    justify-content: space-between;
    max-width: 282px;
    padding-top: 0;
    position: relative;
    top: 0;
    left: 6%;
  }
}