.header {
  /* display: flex;  */
  max-width: 880px;
  margin: 0 auto 40px auto;
  padding: 45px 0 35px 0;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

@media screen and (max-width: 980px) {
  .header {
    max-width: 580px;
  }
}

@media screen and (max-width: 880px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 27px;
  }
}